@charset "UTF-8";

th, td {
	text-align: center !important;
	padding: 5px !important;
}

div.list_area {
	text-align: center;
}

table.listTbl {
	margin: 0 auto;
}

caption {
	text-align: center !important;
	text-decoration: none;
	color: #000000 !important;
	font-size: 20px;
	font-weight: bold;
}

.accept, .delete, .eventStop, #new_event, .detail {
	cursor: pointer;
	text-decoration: none;
}

.accept, #new_event {
	background-color: #82d3ff;
}

.delete:not(.clearBg) {
	background-color: #ff515e;
}

.detail {
	background-color: #82ff9e;
}

/*신고 리스트 구역*/
.finished {
	background-color: #82ff9e;
}

.unfinished {
	background-color: #ff515e;
}

/*드래그 차단*/
.no-drag {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}