@charset "UTF-8";

th, td {
	text-align: center !important;
	padding: 5px !important;
}

div.list_area {
	text-align: center;
}

table.listTbl {
	margin: 0 auto;
}

caption {
	text-align: center !important;
	text-decoration: none;
	color: #000000 !important;
	font-size: 20px;
	font-weight: bold;
}

.accept, #new_event {
	background-color: #82d3ff;
}

.delete:not(.clearBg) {
	background-color: #ff515e;
}

.accept, .delete, .eventStop, #new_event {
	cursor: pointer;
	text-decoration: none;
}
