@charset "UTF-8";

.mail_tgt {
	margin-bottom: 5px;
}

.mail_tgt:last-child {
	margin-bottom: 0;
}

input[name="subject"] {
	text-align: center;
}

.detailBtn {
	padding: 10px !important;
	border: 2px solid #4375d9;
	cursor: pointer;
	width: 20%;
	margin: 0 auto;
}

#condition {
	text-align: center;
}

.dispose-none {
	display: none;
}

.finished {
	background-color: #82ff9e;
}

.unfinished {
	background-color: #ff515e;
}