@charset "UTF-8";

textarea {
	resize: none;
	width: 80%;
}

fieldset {
	margin-bottom: 10px !important;
	text-align: center;
}

legend {
	font-weight: bolder;
}

.detailBtn {
	padding: 10px !important;
	border: 2px solid #4375d9;
	cursor: pointer;
	width: 20%;
	margin: 0 auto;
}

#condition {
	text-align: center;
}

.dispose-none {
	display: none;
}

.finished {
	background-color: #82ff9e;
}

.unfinished {
	background-color: #ff515e;
}