@charset "UTF-8";
.contents-box { 
	width: 100%; border: 2px solid #4375d9; border-radius: 7px;
	padding: 20px; margin-bottom: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.contents-box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	border-radius: 8px;
}
/* 일정 페이지 공통 */
.plan-name { 
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.plan-edit {
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	font-size: 18px;
}
.plan-edit-box {
	display: inline-block;
	cursor: pointer;
}
.plan-edit-box:hover .plan-edit {
	opacity: 1;
	visibility: visible;
}
.edit-menu {
	position: absolute;
	margin-top: 10px;
	border: 1px solid #aaa;
	background: white;
	z-index: 10;
	border-radius: 8px;
	display: none;
}
.edit-menu-sub {
	list-style: none;
	padding: 0;
	margin: 0;
}
.edit-menu-sub > li {
	cursor: pointer;
	padding: 10px 15px;
}
.edit-menu-sub > li:first-child{
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid #ddd;
}
.edit-menu-sub > li:nth-child(2){
	border-radius: 0 0 8px 8px;
}
.edit-menu-sub > li:hover {
	background: #eee;
}
.show-member-wrap {
	border: 1px solid #4375d9;
	border-radius: 8px;
	padding: 10px 15px 25px;
	width: 400px;
	display: none;
}
.member, .leader, .invitedMember {
	display: inline-block;
	border: 1px solid #ddd;
	padding: 10px 15px;
	border-radius: 8px;
	transition: all 0.2s;
}
.member-leader:hover, .invitedMember:hover {
	background: #d9534f;
	color: white;
	cursor: pointer;
}

/* 여행 등록 페이지 */
.reader {background-color: #ddd; width: 100%; border-radius: 20px; 
	box-shadow: 0 2px 2px;
}
.reader-name { padding: 10px 20px; font-weight: bold; font-size: 15px; }
.party-table { border: 2px solid #ddd; width: 100%;}
.party-table td { border: 1px solid; padding: 10px 15px; }
.party-table tr { height: 40px; }
.add-party-btn { margin-bottom: 5px; transition: all 0.2s; }
.add-party-btn:hover { background-color: #4375d9; color: white; }
.del-party-btn { margin-bottom: 50px; transition: all 0.2s; }
.del-party-btn:hover { background-color: #d9534f; color: white; }
.add-plan-btn { transition: all 0.2s; }
.add-plan-btn:hover { background-color: #4375d9; color: white; }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #4375d9;
}
.nav-pills { margin-bottom: 20px; }

/* 여행 내용 등록 페이지 */
th { text-align: center; }
td { text-align: center; }

.dayList { margin: 0 50px 70px; }

.add-day-plan-btn { margin-bottom: 5px; transition: all 0.1s; }
.add-day-plan-btn:hover { background-color: #4375d9; color: white; }
.dayDelBtn { width: 20px; height: 20px; opacity: 0; visibility: hidden; transition: all 0.2s; }
.dayDelBtn > img {width: 100%; height: 100%; }
.dayDelBtn:hover { cursor: pointer; }
.panel-body:hover .dayDelBtn { opacity: 1; visibility: visible; }
.dayEditBtn { width: 20px; height: 20px; opacity: 0; visibility: hidden; transition: all 0.2s; margin-right: 10px; }
.dayEditBtn > img {width: 100%; height: 100%; }
.dayEditBtn:hover { cursor: pointer; }
.panel-body:hover .dayEditBtn { opacity: 1; visibility: visible; }

.choiceStore:hover { cursor: pointer; }
.list-group-item:hover { background-color: #eee}
/*
.store-list-box { width: 90%; height: 370px; border: 1px solid #eee; margin-bottom: 30px;
	margin-left: auto; margin-right: auto; overflow: auto; -ms-overflow-style: none; }
.store-list-box::-webkit-scrollbar{ display:none; }
*/

/* 가게 검색 페이지 */
.add-store-box { padding: 0 20px; height: 450px; overflow: auto; -ms-overflow-style: none; }
.add-store-box::-webkit-scrollbar{ display:none; }
.choiceBtn { position: absolute; right: 10px; border-radius: 10px; background-color: #777;
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    border: none;
}
.storeBox { display: none; }

/* 비용 추가 페이지 */
.category-list-title { display: block; }
.category-radio { position: absolute; left: -5000px; }
.category-name { border: 1px solid #ccc; padding: 8px 15px; margin-right: 5px; border-radius: 4px; transition: all 0.2s; }
.category-name>span { color: #ccc; transition: all 0.2s; }
.category-name:hover { cursor: pointer; border-color: #4375d9; }
.category-name:hover >span { color: #4375d9; }
.category-radio:checked + .category-name { background: #4375d9; border: 1px solid #4375d9; }
.category-radio:checked + .category-name>span { color: white; }
#household-cost { height: 100px; font-size: 30px; padding: 30px; }
.search-box { padding: 20px 20px; }
.search-bar { width: 100%; height: 40px; border: 1px solid #ddd; padding: 0 15px; }
.search-bar:focus { outline: none; }
#household-spot { cursor: text; background: white; }
.btn-box { margin-top: 30px; }
.submit-cost-btn { transition: all 0.2s; }
.submit-cost-btn:hover { background-color: #4375d9; color: white; }

/* 가계부 페이지 */
.h-category-box { background: #4375d9; display: inline-block; color: white; padding: 5px 10px; border-radius: 4px; margin-right: 15px; font-weight: bold; }
.h-contents-box { display: inline-block; border-bottom: 1px solid #ddd; }
.h-cost-box { float: right; font-size: 25px; height: 50px; line-height: 50px; }
.h-sname-box { margin-top: 10px; }
.h-list:hover { cursor: pointer; background: #eee; }

/* 예산 및 지출 확인 창 */
.balance-wrap {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: -300px;
	height: 350px;
	transition: all 0.5s;
}
.balance-contents {
	border: 1px solid #ddd;
	border-left: none;
	border-radius: 0 8px 8px 0;
	width: 300px;
	height: 350px;
	float: left;
	background: white;
}
.balance-toggle {
	border: 1px solid #ddd;
	border-radius: 0 8px 8px 0;
	width: 40px;
	height: 200px;
	float: left;
	border-left: none;
	margin: 75px 0;
	background: white;
}
.glyphicon-chevron-right {
	line-height: 200px;
	text-align: center;
	width: 40px;
	cursor: pointer;
	transition: all 0.5s;
}
.input-budget {
	font-size: 40px;
	text-align: right;
	padding: 30px 20px;
	margin-bottom: 5px;
}
.balance-area {
	padding: 0 20px; 
}
.balance-spent {
	margin: 25px 0;
	padding: 0 10px;
}
.balance-result {
	background: #4375d9;
	color: white;
	border-radius: 5px;
	padding: 0 10px;
}
.br {
	height: 50px;
	line-height: 50px;

}

/* 가계부 수정 페이지 */
.del-household-btn { transition: all 0.2s; }
.del-household-btn:hover { background-color: #d9534f; color: white; }

/* 팝업창 */
/* 전체화면 테두리 */
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	/* display: none;*/
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
}
/* 팝업창이 될 화면 */
.popup-area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 600px;
	background: #fff;
	z-index: 2;
}
/* 팝업창의 종료 버튼 */
.popup-close {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(40%, -40%);
	padding: 10px;
	background: #dd5347;
	border-radius: 100%;
	z-index: 1;
}
/* 팝업창이 떴을 때 바탕 */
.popup-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	z-index:1;
}
#household-spot:focus .popup-wrap {
	opacity: 1;
	visibility: visible;
}

/* 체크박스 from https://codepen.io/avstorm/pen/vYYBxRM */
.cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #B9B8C3;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}
.cbx span:last-child {
  margin-left: 8px;
  font-weight: normal;
}
.cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #B9B8C3;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.cbx:hover span:first-child {
  border-color: #3c53c7;
}

.inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.inp-cbx:checked + .cbx span:last-child {
  color: #B9B8C3;
  transition: all 0.3s ease;
}
.inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check {
  50% {
    transform: scale(1.2);
  }
}

/* 준비물 추가 페이지 */
.add-item {
	cursor: pointer;
}
.manual-input-title {
	margin-top: 0;
}
#categoryName {
	display: none;
}
#itemName {
	display: none;
}
.itemList {
	display: none;
}
.page-header:hover .dayDelBtn { opacity: 1; visibility: visible; }
.page-header:hover .dayEditBtn { opacity: 1; visibility: visible; }

/* 초대 알림용 스타일 */
.invite-alert-btn {
	width: 50px;
	position: fixed;
	right: 50px;
	bottom: 60px;
	cursor: pointer;
	background: white;
}
.invite-alert {
	position: fixed;
	right: 50px;
	bottom: 60px;
	border: 1px solid #aaa;
	width: 300px;
	height: 150px;
	border-radius: 8px;
	background: white;
	padding: 15px 30px;
	z-index: 1;
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
}
.invite-select-box {
	margin-top: 15px;
}
.close-btn {
	position: fixed;
	right: 65px;
	bottom: 180px;
	z-index: 2;
	cursor: pointer;
	transition: all 0.2s;
	opacity: 0;
	visibility: hidden;
}

/* 반응형 */
@media ( max-width: 767px ){
	.popup-area {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 85%;
		height: 600px;
		background: #fff;
		z-index: 2;
	}
	.dayList {
		margin: 0;
	}
	.show-member-wrap{
		width: 100%;
	}
	.edit-menu {
		width: 100%;
		position: relative;
		text-align: center;
	}
	.nav-pills {
		border: 1px solid #ddd;
		border-radius: 8px;
	}
}
